<a href="https://colab.research.google.com/github/Widiyayum/Studi-Independen/blob/main/Stocking_Blitz_Prediksi_Naive_Bayes_Kelompok_6_Jumatec.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **STOCKING BLITZ**

**PROJECT AKHIR**

Kelompok 6 - **ANALISIS PREDIKSI PERSEDIAAN BAHAN BAKU DENGAN METODE MACHINE LEARNING PADA UMKM TOKO TAS BU INDAH**

Nama Web App - **Stocking Blitz**

1. Diki Wahyu Pratama            - Jumatec - Universitas Negeri Semarang
2. Sinta Puspa Sari              - Jumatec - Universitas Muhammadiyah Sumatera Utara
3. Laili Miftachur Rohmah        - Jumatec - Universitas Merdeka Malang
4. Maulidia Nur Zahrotun Na`Imah - Jumatec - Universitas Islam Malang
5. Widiyaningrum                 - Jumatec - Universitas Airlangga

# **PROBLEM SCOPING**

Untuk mempermudah operasional UMKM khususnya toko tas Bu Indah dalam mencapai keuntungan sebesar-besarnya dengan ongkos seminimal mungkin, maka kecepatan dan ketepatan informasi untuk mendukung pengambilan keputusan seorang pimpinan merupakan hal penting dan berpengaruh pada perkembangan usaha. Sistem manual yang selama ini digunakan sudah tidak mampu mengimbangi perkembangan dunia usaha saat ini, sehingga pemanfaatan teknologi informasi sangatlah diperlukan dalam membantu pimpinan dalam memecahkan permasalahan yang dihadapi. Permasalahan yang sering dihadapi adalah persediaan bahan baku di gudang yang tidak akurat. [1].
Persediaan bahan baku sering kosong justru ketika pelanggan membutuhkan barang tersebut. Hal ini tentu sangat mengecewakan pelanggan dan mempengaruhi keuntungan toko. Kekosongan persediaan bahan baku menyebabkan toko harus melakukan pemesanan bahan baku secara mendadak kepada pemasok untuk memenuhi pesanan barang pelanggan. Sedangkan jarak pemasok yang berada di luar kota mengakibatkan waktu order sampai dengan barang tiba memerlukan waktu yang cukup lama. Hal ini tentu sangat merugikan karena pelanggan yang tidak dapat menunggu waktu kedatangan akan beralih ke toko lain. 
Permasalahan lain yang sering dihadapi adalah terjadi penumpukan beberapa jenis bahan baku di gudang dalam jangka waktu cukup lama, karena tidak ada pesanan dari pelanggan. Hal ini terjadi dikarenakan tidak adanya perkiraan jumlah barang yang akan dibeli pelanggan sehingga jumlah pembelian bahan baku dari pemasok sering keliru. Permasalahan ini menyebabkan peningkatan biaya penyediaan gudang penyimpanan barang yang lebih luas dan peningkatan biaya pemeliharaan barang agar tidak rusak [2]. Fakta yang terjadi di lapangan menunjukkan bahwa pembelian barang dari pelanggan memiliki pola musiman dan trend. Berdasarkan latar belakang masalah dan fakta dilapangan, maka dibutuhkan suatu sistem informasi pengendalian persediaan menggunakan metode machine learning na√Øve bayes dengan python. Sistem informasi pengendalian persediaan ini bertujuan untuk membantu produsen atau penjual memutuskan apakah harus mempertahankan stock atau menambah stock bahan baku sehingga meningkatkan keuntungan melalui penjualan barang sesuai permintaan dari pelanggan dan meningkatkan efisiensi karena tidak adanya penumpukan barang di gudang dalam waktu yang lama. Oleh karena itu, kami memilih topik forecasting dengan judul ANALISIS PREDIKSI PERSEDIAAN BAHAN BAKU DENGAN METODE MACHINE LEARNING PADA UMKM TOKO TAS BU INDAH.

# **DATA ACQUISITION**

In [ ]:
import pandas as pd

In [ ]:
df = pd.read_csv('prediksinew.csv')
df.head()

mylist = list(dict.fromkeys(df['permintaan']))
mylist

['strong', 'weak']

# **DATA EXPLORATION**

In [ ]:
from sklearn import preprocessing
le = preprocessing.LabelEncoder()
df['tanggal'] = le.fit_transform(df['tanggal'])
df['jumlah'] = le.fit_transform(df['jumlah'])
df['bahan'] = le.fit_transform(df['bahan'])
df['permintaan'] = le.fit_transform(df['permintaan'])
df['day'] = le.fit_transform(df['day'])
df

    tanggal  jumlah  bahan  permintaan  day
0         2       1      0           0    1
1         0       2      1           1    0
2         1       1      0           1    1
3         2       0      0           1    1
4         2       0      1           1    1
5         0       2      1           0    0
6         2       1      0           1    1
7         0       1      1           0    1
8         2       0      0           0    0
9         0       0      1           0    0
10        2       2      0           0    0
11        0       0      1           1    1
12        2       1      1           1    1
13        2       2      0           1    0

# **MODELLING**

In [ ]:
X = df.iloc[:,0:4].values
Y = df.iloc[:,4].values
Y

array([1, 0, 1, 1, 1, 0, 1, 1, 0, 0, 0, 1, 1, 0])

In [ ]:
from sklearn import naive_bayes, metrics
model = naive_bayes.GaussianNB()
model.fit(X,Y)
y_pred = model.predict(X)
score = metrics.accuracy_score(Y, y_pred)
print("Akurasi dengan menggunakan naive bayes : ", score)

Akurasi dengan menggunakan naive bayes :  0.7857142857142857

# **EVALUATION**

In [ ]:
#from sklearn.model_selection import train_test_split
#X_train, X_test, y_train, y_test = train_test_split(X,Y,train_size=0.8)

In [ ]:
#nb = naive_bayes.GaussianNB()

#nb.fit(X_train, y_train)
#y_pred = nb.predict(X_test)
#score = metrics.accuracy_score(y_test, y_pred)
#print("Akurasinya menjadi : ", score)

# **FILE EXTENSION FOR DEPLOYMENT**

In [ ]:
import pickle
import pandas as pd

pd.to_pickle(nb,"blitz3.pkl")

print(nb)

GaussianNB()

In [ ]:
mylist = list(dict.fromkeys(df['permintaan']))
mylist

[0, 1]